<div class="true-archetype-dev-tools">
    <p>Developer Tools</p>
    <button id="regenerate-dedications"><i class="fas fa-refresh"></i> Regenerate Dedications Data</button>
    <button id="overwrite-dedications"><i class="fas fa-upload"></i> Overwrite Dedications Data</button>
    <button id="regenerate-feats"><i class="fas fa-refresh"></i> Regenerate Feats Data</button>
    <button id="overwrite-feats"><i class="fas fa-upload"></i> Overwrite Feats Data</button>
</div>
